@media (max-width: 492px) {
    .panel {
        max-width: 100%;
    }
}

@media (min-width: 492px) {
    .panel {
        max-width: 476px;
    }
}

.panel .panel {
    max-width: unset;
}

.group-lp {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.lynx-only {
    display: none;
}
