.linkPanel {
    white-space: nowrap;

    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.linkPanel:hover, .linkPanel:focus {
    --bhsl-current-lightness: calc(var(--bhsl-link-lightness) + 20%);
}

.linkPanel:active {
    --bhsl-current-lightness: calc(var(--bhsl-link-lightness) + 40%);
}

.linkPanelIcon {
    justify-self: center;
    width: 20px;
    flex-shrink: 0;
}

.linkPanelText {
    flex-grow: 1;
    justify-self: flex-start;
}