.linkPanel {
    text-decoration: none;
    white-space: nowrap;
}

.linkPanel:hover, .linkPanel:focus {
    --bhsl-current-lightness: calc(var(--bhsl-link-lightness) + 20%);
}

.linkPanel:active {
    --bhsl-current-lightness: calc(var(--bhsl-link-lightness) + 40%);
}
