body {
  background-image: url("/space_default.jpg");
  background-attachment: fixed;
  background-size: cover;
}

footer {
  text-shadow: 2px 2px 4px hsl(var(--bhsl-background-hue) var(--bhsl-background-saturation) var(--bhsl-background-lightness));
}

.panel {
  min-width: 288px;
}

.panel .panel {
  min-width: 0;
}

#__next {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1000px;
}
