@import 'node_modules/@steffo/bluelib/dist/base.root.css';
@import 'node_modules/@steffo/bluelib/dist/colors-royalblue.root.css';
@import 'node_modules/@steffo/bluelib/dist/fonts-fira-ghpages.root.css';
@import 'node_modules/@steffo/bluelib/dist/classic.root.css';
@import 'node_modules/@steffo/bluelib/dist/glass.root.css';
@import 'node_modules/@steffo/bluelib/dist/fun.root.css';
@import 'node_modules/@fortawesome/fontawesome-svg-core/styles.css';

body {
  background-image: url("/space_default.jpg");
  background-attachment: fixed;
  background-size: cover;
}

footer {
  text-shadow: 2px 2px 4px hsl(var(--bhsl-background-hue) var(--bhsl-background-saturation) var(--bhsl-background-lightness));
}

.panel {
  min-width: 500px;
  max-width: 500px;
}

.panel .panel {
  min-width: 0;
}

.chapter-no-header-margin h1,
.chapter-no-header-margin h2,
.chapter-no-header-margin h3,
.chapter-no-header-margin h4,
.chapter-no-header-margin h5,
.chapter-no-header-margin h6 {
  margin-top: 0 !important;
}

#__next {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}